*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
/* Weather.css */

.weather-container {
        max-width: 500px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        margin-top: 100px;
        border: 10px;
        background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
      }
      
      .weather-container h2 {
        margin-bottom: 10px;
        color: black;
      }
      
      .weather-container form {
        margin-bottom: 20px;
      }
      
      .weather-container input[type="text"] {
        padding: 8px;
        width: 200px;
        margin-right: 10px;
      }
      
      .weather-container button {
        padding: 8px 16px;
        width: 150px;
        cursor: pointer;
        border: none;
      }
      
      .weather-container .error-message {
        color: red;
        margin-top: 10px;
      }
      
      .weather-container .weather-info {
        margin-top: 20px;
      }
      
      

      .weather-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
       align-items: center;
      }
      
      .weather-container p{
        color: black;
        height: 80px;
        width: 120px;
        border: 1px dotted black;
        margin-top: 40px;
       }
       
       .error-message{
        width: 100%;
       }
       .weather-container h4{
        margin-top: 20px;
        color: white;
        font-size: 18px;
       }

       .weather-container hr{
        color: black;
       }
       .box3{
        display: flex;
        justify-content: space-evenly;
        /* border: 1px solid black; */
        height: 100px;
       }

       .box33{
        height: 100px;
        width: 10%;
        /* border: 1px solid black; */
        margin-top: 10px;
        border-radius: 15px;
        font-size: 18px;
        background-image: linear-gradient(rgba(34,32,32,0.2), rgba(33,13,31,0.4));
       
        
       }
       .box33 h5{
        color: white;
        margin-top: 5px;
        font-size: 15px;
       }